.ipynb_checkpoints
__pycache__
*.pyc
.idea
.vscode-ctags
cartoonify/logs/*
cartoonify/cartoonify.egg-info
cartoonify/downloads/drawing_dataset/*.bin
cartoonify/downloads/detection_models/
cartoonify/images/
WiringPi/
zj-58/
